.window-frame {
  transition: all ease 900ms;
  box-shadow: 0px 5px 25px rgb(0,0,0,.5);
  /*overflow: hidden!important;*/
  border: 1pt solid;
  border-radius: 25pt;
  padding: 1rem;
  margin: 2rem calc(2rem + 2.5vw);
  background-color: var(--black);
  border-color: var(--gray);
}

.modal-frame {
  transition: all ease 900ms;
  box-shadow: 0px 5px 25px rgb(0,0,0,.5);
  /*overflow: hidden!important;*/
  border: 1pt solid;
  border-radius: 25pt;
  padding: 1rem;
  margin: 2rem calc(2rem + 2.5vw);
  background-color: var(--black);
  border-color: var(--gray);
}

.badge-frame {
  overflow: visible;
  justify-content: center!important;
  display: flex!important;
  overflow: hidden!important;
  /*border: 1pt solid;*/
  border-radius: 25pt;
  /*padding: 2rem 2.5rem;*/
  margin: 1.5rem;
  background-color: var(--black);
  border-color: var(--gray);
}

:root {
  font-size: 12.5pt;
  --black: #222222;
  --white: #FFFFFF;
  --gray: #999999;
  --orange: #FF9D6C;
  --raindow: linear-gradient(to right, #FF6EEB 0%, #FF9D6C 20%, #79FF6E 40%, #6EFFFF 60%, #D09DF2 80%, #FF6EEB 100%);
  --task1: #ef62b7;
  --task2: #6def62;
  --task3: #62d6ef;
  --task4: #d362ef;
  --task5: #ef8462;
  --task6: #efc862;
}

.progress {
  transition: all 900ms ease-in-out;
  border-radius: 80pt;
  display: flex;
  height: 2rem;
  overflow: hidden;
  font-size: 1rem;
  background-color: var(--white);
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  /*background-color: var(--task2)!important;*/
  transition: all 900ms ease-in-out;
}

.check-icon {
  visibility: visible;
  height: 1.5rem;
  padding-bottom: .25rem;
}

.task-label {
  margin: .5rem!important;
  font-size: 1.25rem;
  color: var(--white);
}

.task-item {
  white-space: nowrap;
}

h1 {
  font-size: calc(1rem + .15vw);
}

#active-tasks-heading {
  text-align: center!important;
}

.subtask-list {
  flex-direction: column!important;
  margin: 1rem 2.5rem;
  font-size: 1rem!important;
  display: flex!important;
}

.task-button {
  border: 2pt solid;
  padding: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--black);
  color: var(--black);
  font-size: 1rem;
  border-radius: .25rem;
  transition: all ease 900ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  font-family: inherit;
}

.task-label-complete {
  text-decoration: line-through;
  opacity: .5;
}

.subtask-label {
  margin: .5rem!important;
  font-size: 1rem;
  color: var(--white);
}

.window-frame-gradient {
  z-index: 5;
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  flex: 1 1 auto!important;
}

.task-button:visted {
  border: 2pt var(--task2) solid;
  border-radius: 5pt;
  background-color: var(--black);
}

.check-icon.checked-icon {
  visibility: visible;
}

.progress-bar-2 {
  background-color: var(--task2)!important;
}

.progress-bar-1 {
  background-color: var(--task1);
}

.task-button-1.task-button.complete-task {
  background-color: var(--task1);
}

.task-button-2.task-button.complete-task {
  background-color: var(--task2);
}

.badge-icon {
  height: calc(2rem + .5vw);
  margin: .25rem calc(.25rem + 1vw);
  transition: all ease 900ms;
}

.carrot-icon {
  height: 1.5rem;
  margin: 0 1rem;
}

.font-gradient {
  background: linear-gradient(to right, #FF6EEB 0%, #FF9D6C 20%, #79FF6E 40%, #6EFFFF 60%, #D09DF2 80%, #FF6EEB 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.weekday-group {
  padding: 1rem;
  flex-direction: row!important;
  display: flex!important;
  /*white-space: nowrap;*/
  /*max-width: 400px;*/
  justify-content: space-evenly!important;
}

.day-button {
  font-size: .95rem;
  transition: all ease 900ms;
  box-shadow: 0px 5px 25px rgb(0,0,0,.5);
  overflow: hidden!important;
  border: 1pt solid;
  border-radius: 100rem;
  height: 2rem;
  width: 2rem;
  /*margin: .5rem;*/
  background-color: var(--black);
  border-color: var(--gray);
  justify-content: center!important;
  display: flex!important;
  align-items: center!important;
}

.task-button-1.task-button.complete-task {
  background-color: var(--task1);
}

.check-icon.unchecked-icon {
  visibility: hidden;
}

.day-button.day-button-sun {
  color: var(--task1);
}

.day-button.day-button-tue {
  color: var(--task3);
}

.day-button.day-button-mon {
  color: #79ff6e;
}

.day-button.day-button-thu {
  color: var(--task4);
}

.day-button.day-button-fri {
  color: var(--task5);
}

.day-button.day-button-sat {
  color: var(--task6);
}

.date-h {
  /*font-size: 1.25rem;*/
  text-align: center!important;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.calender {
  /*align-items: center!important;*/
  text-align: center!important;
  justify-content: center!important;
  display: flex!important;
  flex-direction: column!important;
}

.task-button.task-button-2 {
  border: 2pt solid var(--task2);
}

.task-button.task-button-1 {
  border: solid 2pt var(--task1);
}

.rabbit-icon-home {
  opacity: .5;
  height: 2rem;
  align-self: end;
}

. + task-button {
}

.new-task-button {
  margin-left: auto!important;
  display: flex!important;
  justify-content: flex-end!important;
  /*box-shadow: none!important;*/
  margin-top: -3.25rem;
  border: solid 1pt var(--gray);
  border-radius: 80pt;
  padding: .5rem 2rem;
  color: rgba(255,255,255,0.5);
  background-color: var(--black);
  transition: all ease 900ms;
}

.submit-new-task-button {
  /*margin-left: auto!important;*/
  /*display: flex!important;*/
  justify-content: flex-end!important;
  /*box-shadow: none!important;*/
  margin: 2.5rem 5rem;
  border: solid 1pt var(--gray);
  border-radius: 80pt;
  padding: .5rem 2rem;
  color: rgba(255,255,255,0.5);
  background-color: var(--black);
  transition: all ease 900ms;
}

.new-task-button:hover {
  box-shadow: 0px 5px 25px rgb(0,0,0,.5);
  color: var(--white);
  transform: scale(1.25);
}

.badge-icon:hover {
  transform: scale(1.5);
}

.task-button:hover {
  transform: scale(1.25);
}

.elipse-icon {
  height: .5rem;
  /*margin-right: 1.25rem;*/
  display: flex!important;
  margin-left: auto!important;
  vertical-align: middle;
}

.task-title-menu {
  align-items: center!important;
  flex-direction: row!important;
  display: inline-flex!important;
}

.elipse-button {
  padding: 1rem;
  height: inherit;
  background-color: rgba(255,255,255,0);
  border: none!important;
  box-shadow: none!important;
  transition: all 950ms ease;
}

#h-total-carrots {
  margin: 0;
  white-space: nowrap;
}

.heading {
  opacity: .75;
  margin: 1rem calc(3.5rem + 2.5vw);
  margin-bottom: -1rem;
}

.user-name {
  opacity: .75;
  margin: 2rem 1.5rem;
  align-items: center!important;
  display: flex!important;
}

.modal-content {
  border: 1px solid rgba(255,255,255,0.25);
  backdrop-filter: blur(25px);
  /*position: relative;*/
  /*display: flex;*/
  flex-direction: column;
  /*padding: .5vw 1vw;*/
  /*width: 100%;*/
  pointer-events: auto;
  background-color: var(--black);
  background-clip: padding-box;
  border-radius: 3rem;
  outline: 0;
}

.modal {
  -ms-overflow-style: none!important;
  scrollbar-width: none!importaNT;
  backdrop-filter: blur(2px);
  transition: all 900ms ease-in-out;
  /*position: relative;*/
  top: 0;
  /*background-color: rgba(34,34,34,0);*/
  /*left: 0;*/
  z-index: 1055;
  /*display: none;*/
  /*width: 100%;*/
  /*height: 100vh;*/
  /*overflow-x: hidden;*/
  /*overflow-y: hidden!important;*/
  outline: 0;
  align-items: center!important;
  justify-content: center!important;
  /*display: inline-flex!important;*/
}

.modal-body {
  scroll-behavior: smooth;
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
  flex: 1 1 auto;
  /*padding: 2.5rem;*/
  /*flex-direction: column!important;*/
}

.btn-close:hover {
  color: #ffffff;
  text-decoration: none;
  opacity: .75;
}

.btn-close:focus {
  outline: 0;
  color: var(--task1);
  box-shadow: 0 0 0 .25rem rgba(255,0,0,0.25);
  opacity: 1;
}

.btn-close {
  overflow: visible!important;
  box-sizing: content-box;
  background: transparent url("../../assets/img/xmark-solid.svg") center/1em auto no-repeat;
  border: 0;
  border-radius: 5rem;
  opacity: .5;
}

.scrollbar-hidden {
  -ms-overflow-style: none!important;
  scrollbar-width: none!importaNT;
}

.modal-header {
  border: none;
}

.task-color-button {
  border: none;
  /*margin: 0 .5rem;*/
  padding: 0;
  height: 1.75rem;
  width: 1.75rem;
  font-size: 1rem;
  border-radius: 4pt;
  transition: all ease 500ms;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  font-family: inherit;
}

#task-color-button-1 {
  background-color: var(--task1);
}

#task-color-button-2 {
  background-color: var(--task2);
}

#task-color-button-3 {
  background-color: var(--task3);
}

#task-color-button-4 {
  background-color: var(--task4);
}

#task-color-button-5 {
  background-color: var(--task5);
}

#task-color-button-6 {
  background-color: var(--task6);
}

.text-input {
  margin: 1rem 0;
  padding: 1rem;
  text-align: center;
  width: calc(15rem + 1.5vw);
  border-radius: 25pt;
  border: none;
  background-color: var(--white);
  color: #000000;
}

.new-task-input {
  flex-direction: column!important;
  justify-content: flex-start!important;
  display: flex!important;
}

#new-tasks-form {
  /*position: sticky;*/
  /*overflow: scroll;*/
  /*white-space: nowrap;*/
  /*line-height: 2.5rem;*/
}

.p-task-form {
  padding-top: 1rem;
}

.task-color-button-group {
  overflow-x: hidden!important;
  padding: 1rem;
  /*justify-content: center!important;*/
  display: flex!important;
  flex-grow: 0!important;
}

.task-color-button:active:focus {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.task-color-button:hover {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.task-color-button:target {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.task-color-button-selected {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 500ms;
}

.task-color-button:selected {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 500ms;
}

.task-color-button select {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 500ms;
}

.task-color-button select {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 500ms;
}

.new-subtask-list-p {
  font-size: .8rem;
  opacity: .5;
  padding-left: 2rem;
}

.added-subtask-list {
  padding: 1rem;
  white-space: nowrap;
  flex-direction: column!important;
  display: flex!important;
}

.task-color-button-group:focus + .task-color-button, .task-color-button:focus {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #0b5ed7;
  border-color: #0a58ca;
  box-shadow: 0 0 0 .25rem rgb(249,0,45)!important;
}

.text-input:active {
  border: none!important;
  box-shadow: none!important;
}

.day-button-group:focus + .task-color-button, .task-color-button:focus {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.day-button-group:focus + .day-button, .day-button:focus {
  transform: rotate(45deg) scale(1.1);
  margin: 0 1rem;
  transition: ease all 900ms;
}

.submit-new-task-button:hover {
  color: var(--white);
  transform: scale(1.25);
}

#add-new-task-h {
  text-align: center!important;
  flex: 1 1 auto!important;
}

.modal-dialog-scrollable .modal-body {
  overflow-y: scroll;
  /*scroll-padding-top: 25rem;*/
}

.modal-dialog-scrollable .modal-content {
  max-height: 100%;
  /*overflow-y: hidden;*/
}

.modal::-webkit-scrollbar {
  display: none;
}

.modal-body::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

.btn-check:focus + .btn, .btn:focus {
  box-shadow: 0px 5px 25px rgb(0,0,0,.5);
  outline: 0;
}

.new-subtask {
  display: flex!important;
  justify-content: center!important;
}

.footer-link {
  font-size: .75rem;
  white-space: nowrap;
  transition: ALL 950MS ease;
  opacity: .25;
  color: var(--white);
  margin: 0 calc(1rem + .5vw);
  text-decoration: none;
}

.nav-link {
  white-space: nowrap;
  transition: all 950MS ease-in-out;
  opacity: .25;
  color: var(--white)!important;
  font-size: .75rem;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-link:hover {
  transition: all 950ms ease;
  white-space: nowrap;
  /*transition: color 950MS ease;*/
  opacity: 1;
  color: var(--white)!important;
  /*margin: 0 calc(1rem + 1.5vw);*/
  text-decoration: none;
}

.footer-link:hover {
  opacity: 1;
  color: var(--white);
  transform: scale(1.25);
  transition: ALL 950MS ease;
}

#link-list {
  padding: 0;
  margin: 0;
  text-align: center!important;
}

#footer-icon-list {
  text-align: center;
  margin: 0;
}

.footer-icon {
  transition: ALL 950MS ease;
  margin: 0 calc(.5rem + .25vw);
  opacity: .25;
  font-size: calc(1.5rem + .5vw);
}

.footer-icon:hover {
  opacity: 1;
  transform: scale(1.5);
  transition: ALL 950MS ease;
}

footer {
  margin-top: 2.5rem;
  text-align: center!important;
}

footer span {
  opacity: .75;
  margin: 2rem 0;
  font-size: .5rem;
  color: var(--white);
}

.list-inline-item {
  white-space: nowrap;
}

footer .container {
  line-height: calc(2rem + 2.5vw);
}

.navbar {
  padding: 1rem;
}

.navbar-toggler {
  opacity: .5;
  transition: all 950ms ease;
  color: rgba(255,255,255,0);
  border-color: rgba(255,255,255,0);
}

.navbar-toggler:hover {
  opacity: 1;
  transition: all 950ms ease;
  color: rgba(255,255,255,0);
  box-shadow: none!important;
  border-color: rgba(255,255,255,0);
}

.navbar-toggler:focus {
  opacity: 1;
  transition: all 950ms ease;
  color: rgba(255,255,255,0);
  box-shadow: none!important;
  border-color: rgba(255,255,255,0);
}

.nav-link {
  transition: color 950ms ease;
}

.nav-item {
  display: flex;
  align-items: center!important;
}

.elipse-button:hover {
  transition: all 950ms ease;
  transform: scale(1.5);
}

.navbar-brand {
  /*font-size: 1.5rem;*/
  letter-spacing: .2rem;
  font-weight: bolder;
}

@media (max-width:575px) {
  .badge-group {
    margin-top: 2rem;
  }
}

.badge-group {
  white-space: nowrap;
}

.nav-bunny {
  transition: all 950ms ease;
  height: 2rem;
  margin: 0;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  transition: all 950ms ease;
}

.modal-dialog {
  height: 75%!important;
}

